{% extends 'base.html' %}
{% load static %}

{% block content %}

<br>
<div id="title">
  <p>Choose a Group</p>
</div>
<br>

<!-- Add Button -->
    <div class="container">
        <div class="row row-cols-1 row-cols-md-2 row-cols-xxl-2 g-4">
            <div class="col">
                <div class="card text-bg-warning border-dark mb-3 mx-auto h-100" >
                    <a href="{% url 'library_01' %}">
                        <img src="https://i.pinimg.com/originals/70/2c/f1/702cf1252ab8b00074270f0e4e287d15.gif" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        Coffee Game Group
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card text-bg-warning border-dark mb-3 mx-auto h-100" >
                    <a href="{% url 'library_02' %}">
                        <img src="https://c.tenor.com/HU0yEZx7cOsAAAAd/the-empire-strikes-back-planet-hoth.gif" class="card-img-top" alt="...">
                    </a>    
                    <div class="card-body">
                        Hoth Game Group
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>

    <div class="container">
        <div class="row row-cols-1 row-cols-md-2 row-cols-xxl-2 g-4">
            <div class="col">
                <div class="card text-bg-warning border-dark mb-3 mx-auto h-100" >
                    <a href="{% url 'library_03' %}">
                        <img src="https://64.media.tumblr.com/b0c216e555a160333cc42abeaf09b6d9/tumblr_nxtzn6v0Cc1rjxyrgo1_500.gifv" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        Gundam Game Group
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card text-bg-primary border-dark mb-3 mx-auto h-100" >
                    <a href="{% url 'library' %}">
                        <img src="https://c.tenor.com/1AF1iQ03gHAAAAAC/addition-to-mycollection-more-collection.gif" class="card-img-top" alt="...">
                    </a>    
                    <div class="card-body">
                        Personal Collection
                    </div>
                </div>
            </div>
        </div>
    </div>
<br>

{% endblock %}