{% extends 'base.html' %}
{% load static %}

{% block content %}

<br>
<div id="title">
  <p>Choose Your Section</p>
</div>
<br>

<!-- Add Button -->
    <div class="container">
        <div class="row row-cols-1 row-cols-md-2 row-cols-xxl-2 g-4">
            <div class="col">
                <div class="card text-bg-primary border-dark mb-3 mx-auto h-100" >
                    <a href="{% url 'library' %}">
                        <img src="https://i.redd.it/4bhq166klyha1.gif" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        Link Share
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card text-bg-warning border-dark mb-3 mx-auto h-100" >
                    <a href="{% url 'library_01' %}">
                        <img src="https://i.imgur.com/WtVOjr6.gif" class="card-img-top" alt="...">
                    </a>    
                    <div class="card-body">
                        Sites and Software Tools Reference
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>

    <div class="container">
        <div class="row row-cols-1 row-cols-md-2 row-cols-xxl-2 g-4">
            <div class="col">
                <div class="card text-bg-warning border-dark mb-3 mx-auto h-100" >
                    <a href="{% url 'library_02' %}">
                    <a href="https://tlit63009.sharepoint.com/sites/TeamLogicITFlemingtonEquipmentInventory/Lists/Devices/AllItems.aspx?env=WebViewList">
                        <!-- <img src="https://i.redd.it/mvmxgc33zjy61.gif" class="card-img-top" alt="..."> -->
                        <img src="https://img.itch.zone/aW1hZ2UvMjYwMjM1Ny8xNTUxNTExOC5naWY=/original/NwFBYk.gif" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        Technician Inventory Lookup
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card text-bg-warning border-dark mb-3 mx-auto h-100" >
                    <a href="{% url 'library_03' %}">
                        <img src="https://64.media.tumblr.com/2bf20109183f5409a3e5dfd0a9416b49/tumblr_o5o46iVjF21u77u56o1_1280.gif" class="card-img-top" alt="...">
                    </a>    
                    <div class="card-body">
                       Technician Onboarding Interactive Checklist 
                    </div>
                </div>
            </div>
        </div>
    </div>
<br>

{% endblock %}