{% extends 'base.html' %}
{% block content %}

{% if object %}
<br>
<div id="title">
    <p>Log In</p>
</div>
<br>
{% else %}
<br>
<div id="title">
    <p>Log In</p>
</div>
<br>
{% endif %}

{% if error_message %}<p class="red-text">{{ error_message }}</p>{% endif %}

<div class="container">
    <div class="card mb-3">
        <img src="https://jegged.com/img/Games/Final-Fantasy-VII/Walkthrough/FFVII-00019-Cloud-Naming-Screen.png" class="card-img-top" alt="...">
        <div class="card-body">
          <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" id='cardBtn' class="btn btn-warning" value="Login">
          </form>
          <br>
        </div>
    </div>
</div>
<br>
{% endblock %}