{% extends 'base.html' %}
{% block content %}

{% if object %}
<br>
<div id="title">
    <p>Log In</p>
</div>
<br>
{% else %}
<br>
<div id="title">
    <p>Log In</p>
</div>
<br>
{% endif %}

{% if error_message %}<p class="red-text">{{ error_message }}</p>{% endif %}

<div class="container">
    <div class="card mb-3">
        <img src="https://64.media.tumblr.com/25380ab4f56d1b41807ef8b4a90fbc7c/7e2db8e592aa4a90-6e/s1280x1920/62fa368cca062685a0520c00cbec22bb5a3c1093.gif" class="card-img-top" alt="...">
        <div class="card-body">
          <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" id='cardBtn' class="btn btn-warning" value="Login">
          </form>
          <br>
        </div>
    </div>
</div>
<br>
{% endblock %}