{% extends 'base.html' %}
{% block content %}

{% if object %}
<br>
<div id="title">
    <p>Sign Up</p>
</div>
<br>
{% else %}
<br>
<div id="title">
    <p>Sign Up</p>
</div>
<br>
{% endif %}

{% if error_message %}<p class="red-text">{{ error_message }}</p>{% endif %}

<div class="container">
    <div class="card mb-3">
        <img src="https://64.media.tumblr.com/2f1055d257d91b41ebeb331190023355/055486b1ac7ff158-a3/s540x810/a7c66c5ffcb97565de63bfda30e3448a7b0f661e.gif" class="card-img-top" alt="...">
        <div class="card-body">
          <form method="post" action="{% url 'signup' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" id='cardBtn' class="btn btn-warning" value="Signup">
          </form>
          <br>
        </div>
    </div>
</div>
<br>
{% endblock %}