/* Nav: */

#menu {
    background-color: #08f9a0;
    font-size: 30px;
    font-weight: 800;
    /* font-family: 'Nanum Brush Script', cursive; */
}

@media screen and (min-width: 767px) {
    #menu {
        font-size: 50px;

    }
}

@media screen and (min-width: 1400px) {
    #menu {
        font-size: 50px;

    }
}

#menuButton {
    font-size: 17px;
}

.nav-link {
    font-size: 20px;
    padding-right: 5px;
    color: black;
}

.form-check {
    font-size: 20px;
}


/* All Pages */

body {
    background-color: cornflowerblue;
    color: black;
}
/* 
.dark {
    background-color: rgb(27, 27, 27);
    color: black;
} */

#Dark {
    background-color: rgb(27, 27, 27);
}

#Light {
    background-color: rgb(242, 242, 245);
}


#title {
    /* background-color: rgb(246, 238, 131); */
    background-color: #08f9a0;
    color: black;
    text-align: center;
    font-size: 40px;
    font-weight: 200;    
    /* font-family: 'Nanum Brush Script', cursive; */
}

/* Library: */

.cardImage {
    border-style: solid;
    border-color: black;
    border-width: 100px;
    width: 10vw;
    height: 100px;
}

#cardImage {
    height: 10vw;
    width: 80vw;
}

.card-img-top {
    /* margin: 2px; */
    width: 100%;
    height: 80vw;
    /* object-fit: cover; */
}

@media screen and (min-width: 767px) {
    .card-img-top {
        /* margin: 2px; */
        width: 100%;
        height: 30vw;
        /* object-fit: cover; */
    }
}

@media screen and (min-width: 1400px) {
    .card-img-top {
        /* margin: 2px; */
        width: 100%;
        height: 15vw;
        /* object-fit: cover; */
    }
}

.halo {
    margin:100px;
}

#button {
    margin: 20px;
    font-size: 17px;

}

.btn {
    font-size: 17px;
}

#cardBtn {
    font-size: 17px;
}

@media screen and (min-width: 767px) {
    .btn {
        font-size: 25px;

    }
}

@media screen and (min-width: 1400px) {
    .btn {
        font-size: 25px;

    }
}

/*  Error 404  */
.error { 
    font-family: 'Press Start 2P', cursive;
}